body {
  background-color: black;
  color: #55ff55;
  font-family: monospace;
  font-size:20px;
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

.message-list {
    height:95%;
    overflow: scroll;
}

.message-input {
    height:5%;
}